#<?xml version="1.0" encoding="UTF-8"?>
#<configuration>
#  <system.webServer>
#    <handlers>
#      <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
#    </handlers>
#    <httpPlatform processPath="%JAVA_HOME%\bin\java.exe"
#      arguments="-Dserver.port=%HTTP_PLATFORM_PORT% -jar &quot;%HOME%\site\wwwroot\app.jar&quot;">
#      <environmentVariables>
#        <environmentVariable name="JAVA_OPTS" value="-Dserver.servlet.context-path=/myapp" />
#      </environmentVariables>
#    </httpPlatform>
#    <urlCompression doStaticCompression="true" doDynamicCompression="true" />
#    <httpCompression directory="%SystemDrive%\websites\wfast\temp\iisexpress\IISTemporaryCompressedFiles" staticCompressionIgnoreHitFrequency="true" />
#    <staticContent>
#      <mimeMap fileExtension=".json" mimeType="application/json" />
#    </staticContent>
#  </system.webServer>
#</configuration>
